/* todo: delete file if not needed */
.login {
    background: blue;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.login-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/cover-login.jpg");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.login-section h2 {
    color: #fff;
}